.staff{
    background-color: antiquewhite;
    height: 120px;
}
.h2{
    text-align: center;
}
.b{
    background-color:grey;
    height: 30px;
    width: 140px;
    
}
.z{
    height: 200;
    background-color: aqua;
}